<div class="row border-bottom">
  <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
    <% if flash[:error].present? %>
      <div class="alert alert-fixed alert-danger alert-dismissable" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><i class="fa fa-remove"></i> <%= flash[:error]["message"] %></div>
    <% elsif flash[:warning].present? %>
      <div class="alert alert-fixed alert-warning alert-dismissable" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><i class="fa fa-exclamation"></i> <%= flash[:warning]["message"] %></div>
    <% elsif flash[:success].present? %>
      <div class="alert alert-fixed alert-success alert-dismissable" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><i class="fa fa-check"></i> <%= flash[:success]["message"] %></div>
    <% end %> 
        <div class="navbar-header">
          <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
          <!--
            <form role="search" class="navbar-form-custom" method="post" action="">
                <div class="form-group">
                    <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search"/>
                </div>
            </form>
          -->
          </div>
        <ul class="nav navbar-top-links navbar-right">
            
            <!--
            <li>
                <a class="right-sidebar-toggle">
                    <i class="fa fa-tasks"></i>
                </a>
              </li>
              -->
            </ul>

        <ul class="nav navbar-top-links navbar-right">
            <li>
              <%= image_tag 'dashboard/logo_transparent.png', style: 'height: 32px' %> <span class="m-r-sm text-muted welcome-message" data-i18n="topnav.welcometext">MPC DASHBOARD</span>
            </li>
            <!--
            <li class="dropdown">
                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                    <i class="fa fa-envelope"></i>  <span class="label label-warning">16</span>
                </a>
                <ul class="dropdown-menu dropdown-messages">
                    <li>
                        <div class="dropdown-messages-box">
                            <a href="#" class="pull-left">
                                <img alt="image" class="img-circle" src="<%= image_path('a7.jpg') %>" />
                            </a>
                            <div class="media-body">
                                <small class="pull-right">46h ago</small>
                                <strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>. <br/>
                                <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
                            </div>
                        </div>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <div class="dropdown-messages-box">
                            <a href="#" class="pull-left">
                                <img alt="image" class="img-circle" src="<%= image_path('a4.jpg') %>" />
                            </a>
                            <div class="media-body ">
                                <small class="pull-right text-navy">5h ago</small>
                                <strong>Chris Johnatan Overtunk</strong> started following <strong>Monica Smith</strong>. <br/>
                                <small class="text-muted">Yesterday 1:21 pm - 11.06.2014</small>
                            </div>
                        </div>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <div class="dropdown-messages-box">
                            <a href="#" class="pull-left">
                                <img alt="image" class="img-circle" src="<%= image_path('profile.jpg') %>" />
                            </a>
                            <div class="media-body ">
                                <small class="pull-right">23h ago</small>
                                <strong>Monica Smith</strong> love <strong>Kim Smith</strong>. <br/>
                                <small class="text-muted">2 days ago at 2:30 am - 11.06.2014</small>
                            </div>
                        </div>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <div class="text-center link-block">
                            <a href="#">
                                <i class="fa fa-envelope"></i> <strong>Read All Messages</strong>
                            </a>
                        </div>
                    </li>
                </ul>
              </li>
              -->
          <% if user_signed_in? %>
            <li class="dropdown">
                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                  <i class="fa fa-bell"></i>  <% if @notifications.count > 0 %><span id="notifications-count" class="label label-primary"><%= @notifications.count %></span><% end %>
                </a>

                <ul class="dropdown-menu dropdown-alerts">
                </ul>
              </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i> Log out
              <% end %>
            </li>
          <% end %>
            </ul>
            
  </nav>
</div>
<script>
  $(function() {
    $('.dropdown-toggle').on('click', function(e) {
      $('.dropdown-alerts li').remove();
      $.ajax({
        url: Routes.notifications_path({scopes: 'unread,wanted,ordered'}), 
        type: 'GET', 
        complete: function(message) {
          var notifications = message.responseJSON;
          $.each(notifications, function(key, notification) {
            if (key < 10) {
              $('.dropdown-alerts').append('<li><a class="alert-entry" data-id="'+ notification.id +'" onclick="mark_as_read(' + notification.id + ', \'' + notification.message.url + '\');"><div><i class="fa fa-bell fa-fw"></i>' + notification.message.subject + '<span class="pull-right text-muted small">' + moment(notification.created_at).fromNow() + '</span></div></a></li>');
              $('.dropdown-alerts').append('<li class="divider"></li>');
            }
          });
          
          $('.dropdown-alerts').append('<li><div class="text-center link-block"><a href="' + Routes.all_notifications_path() + '"><strong>See All Alerts</strong> <i class="fa fa-angle-right"></i></a></div></li>');
          $('.dropdown-alerts').append('<li><div class="text-center link-block clear-notifications"><a href="' + Routes.clear_notifications_path() + '"><strong>Clear All</strong> <i class="fa fa-trash-o"></i></a></div></li>');
        }
      }); 
    });

    $(document).on('click', 'div.clear-notifications', function(e) {
      $('#notifications-count').remove();
    });
  });

  function mark_as_read(notification_id, url) {
      $.ajax({
        url: Routes.mark_as_read_notification_path(notification_id),
        type: 'PATCH', 
        complete: function(message) {
          window.location = url; 
        }
      });
  }
</script>
